/* Home.css */
.home {
  text-align: center;
  padding: 20px;
  /* margin-top: 1; */
}

.image-slider {
  position: relative;
  width: 99%;
  max-width: 800px;
  margin: 0 auto;
}

.image-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.image-slider button:first-child {
  left: 10px;
}

.image-slider button:last-child {
  right: 10px;
}

.image-slider img {
  width: 106.7rem;
    height: 295rem;
    max-height: 680px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    margin-top: 1.7rem;
    margin-left: -29rem;
}

/* Responsive styles using @media query */
@media (max-width: 600px) {
  .image-slider {
    max-width: 100%;
  }

  .image-slider img {
    max-height: 300px;
  }
}
.user12{
  justify-content: center;
  align-items: center;
  /* padding-top: 4rem;
  
  padding-left: 15rem; */
  border: '20px solid red';
  padding-right: -4rem;
  background-color: #f8e8b0;
  width: 105.7rem;
  margin-left: -1.5rem;
  height: 35rem;
  /* margin-left: -2rem; */
  /* margin-right: -5rem; */
}

